.selectYear select {
   background-color: #ccc;
}
.selectYear .form-select {
   background-position: right 1rem center !important;
}
.selectCheckBox .form-check-input {
   border-color: var(--main-color) !important;
   padding: 7px;
}
.actionBox{
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   right: 10px;
 }
 .itemCard{
   padding-right: 90px;
 }











