#prescriptionFinal .container {
   background-color: #fff !important;
}
.header p {
   font-size: 14px;
}
.aside {
   width: 400px;
   border-right: 1px solid #ddd;
   min-height: 600px;
   padding-bottom: 20px;
}

.signatureImage {
   display: inline-block;
   height: 30px;
   object-fit: contain;
   margin-bottom: 4px;
}
/* .signatureBox {
	position: absolute;
	right: 50px;
	bottom: 30px;
  } */
.rightSide {
   padding-bottom: 96px !important;
}
.footer {
   padding-top: 10px;
   padding-bottom: 10px;
   border-top: 1px solid #ddd;
}

.footer p {
   font-size: 14px;
}
.apiLogo {
   max-width: 40px;
   transform: translateY(-4px);
   margin-left: 5px;
}
.logoText {
   font-size: 14px;
}
.nextinfo {
   margin-top: 50px;
   margin-top: 160px;
}

@media (max-width: 800px) {
   #prescriptionFinal,
   .logoText,
   address p,
   .header p,
   .pres_item p,
   .medicine p {
      font-size: 12px !important;
   }
   .header h4 {
      font-size: 18px !important;
   }
}

#printable {
   padding-bottom: 170px;
   position: relative;
}

#footer {
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   padding-right: 1.5rem !important;
   padding-left: 1.5rem !important;
}

.signatureBox {
   position: absolute;
   right: 50px;
   top: -10px;
   transform: translateY(-100%);
}

#printable p {
   font-size: 12px !important;
}

#printable h4 {
   font-size: 12px !important;
}

@media screen and (max-width: 800px) {
   #printable h4 {
      font-size: 11px !important;
   }
}

@media print {
   body {
      margin: 0;
      padding: 0;
      background: #fff;
   }
   #printable {
      margin: 0;
      padding: 0;
      width: 100%;
      max-width: 100%;
      min-height: 1120px;
      position: relative;
      width: 792px;
   }
   .aside {
      min-height: 782px;
   }
   .topHead {
      min-height: 41px;
   }
   /* .printFooter {
			position: absolute;
			bottom: 0;
			left: 0;
		} */
   #globalButton,
   .no-print,
   .prinBtns,
   #tooltip-disabled {
      display: none !important;
   }
   /* .signatureBox {
			position: absolute;
			right: 0;
			bottom: 0;
		} */

   @page {
      /* margin-top: 1cm;
			margin-bottom: 1cm;
			margin-top: 1cm;
			margin-bottom: 1cm;
			margin-left: 1cm;
			margin-right: 1cm; */
      size: A4 portrait;
      /* counter-increment: page;
			content: "Page " counter(page);
			background-color: #f0f0f0;
			border-bottom: 1px solid #ccc; */
   }
}

@media print and (max-width: 800px) {
   #printable {
      min-height: 1042px;
   }
   .aside {
      min-height: 728px;
   }
   #printable p {
      font-size: 6.5px !important;
   }
   #printable h3 {
      font-size: 14px !important;
   }
   #printable h4 {
      font-size: 10px !important;
   }
   #printable .topHead {
      font-size: 11px !important;
   }
   #printable .rightSide p {
      font-size: 9px !important;
   }
   .nextinfo {
      margin-top: 80px;
   }
}

.footer_logo {
   width: 100px;
   height: 70px;
   object-fit: contain;
}


